.drawer {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: rgba(var(--color-foreground), 0.5);
}

.drawer.active {
  visibility: visible;
}

.drawer__inner {
  height: 100%;
  width: 100%;
  max-width: 645px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  transition: transform var(--duration-default) ease;
  border-left: 1px solid rgba(21, 21, 21, 1);

}

.drawer__inner-empty {
  height: 100%;
  padding: 0 1.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.cart-drawer__warnings {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

cart-drawer.is-empty .drawer__inner {
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
  padding: 0;
}

cart-drawer.is-empty .drawer__header {
  display: none;
}

cart-drawer:not(.is-empty) .cart-drawer__warnings,
cart-drawer:not(.is-empty) .cart-drawer__collection {
  display: none;
}

.cart-drawer__warnings--has-collection .cart__login-title {
  margin-top: 2.5rem;
}

.drawer.active .drawer__inner {
  transform: translateX(0);
  float: right;
}

.drawer__header {
  position: relative;
  padding: 16px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(202, 199, 199, 1);
}

.drawer__heading {
  font-weight: 500;
  font-size: 16px;
  line-height: 23.52px;
  color: rgba(21, 21, 21, 1);
  margin: 0;
}

.drawer__close {
  display:flex;
  padding: 0;
  box-shadow: 0 0 0 0.2rem rgba(var(--color-button), 0);
  position: absolute;
  top: 16px;
  right:32px;
  color: rgb(var(--color-foreground));
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.cart-drawer__warnings .drawer__close {
  right: 5px;
}

.drawer__close svg {
  height: 24px;
  width: 24px;
}

.drawer__contents {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.drawer__footer {
  border-top: 1px solid rgba(202, 199, 199, 1);
  padding: 0 32px;
}
.drawer__footer .cart-drawer__footer{
  padding:16px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.drawer__footer .cart-drawer__footer .totals{
  margin: 0;
}
.drawer__footer .cart-drawer__footer .totals .totals__total{
  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 0, 0, 1);
  line-height: 23.52px;
}
.drawer__footer .cart-drawer__footer .totals .totals__total-value{
 font-weight: 700;
  font-size: 16px;
  line-height: 23.52px;
  color: rgba(0, 0, 0, 1);
}
.drawer__footer  .cart__ctas{
  height: 56px;
  /* background: rgba(249, 206, 3, 1); */
  border-radius: 0;
  border: 0;
  margin-top: 16px;
  display: flex;
}
.drawer__footer  .cart__ctas{
  justify-content: space-between;
  align-items: center;
}
.drawer__footer  .cart__ctas a{
  display: inline-block;
  width: 50%;
  background: #000;
  color: #fff;
  height: 100%;
  padding: 12px 0;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  margin-right: 10px;

}
.drawer__footer  .cart__ctas button{
  font-weight: 700;
  font-size: 18px;
  line-height: 26.46px;
  color: rgba(0, 0, 0, 1);
  height: 100%;
  margin-top:0 !important;
  background: #f9ce07;
  width: 50%;
}
.cart-drawer .drawer__footer .tax-note{
  margin-top: 8px;
  margin-bottom: 0;
  color: rgba(87, 87, 87, 1);
  font-weight: 500;
  font-size: 14px;
  line-height: 20.58px;
  text-align: center;
}
cart-drawer-items{
  padding: 16px 32px;
} 
cart-drawer-items.is-empty + .drawer__footer {
  display: none;
}

.drawer__footer > details {
  /* margin-top: -1.5rem; */
  border-top: 1px solid rgba(0,0,0,.5);
  border-bottom: 1px solid rgba(0,0,0,.5);
}

.drawer__footer > details[open] {
  padding-bottom: 1.5rem;
}

.drawer__footer summary {
  display: flex;
  position: relative;
  line-height: 1;
  padding: 15px 0;
}

.drawer__footer > details + .cart-drawer__footer {
  padding-top: 1.5rem;
}

cart-drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
}

.cart-drawer__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.cart-drawer__overlay:empty {
  display: block;
}

.cart-drawer__form {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
}

.cart-drawer__collection {
  margin: 0 2.5rem 1.5rem;
}

.cart-drawer .drawer__cart-items-wrapper {
  flex-grow: 1;
}

.cart-drawer .cart-items,
.cart-drawer tbody {
  display: block;
  width: 100%;
}

.cart-drawer thead {
  display: inline-table;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 2;
}

cart-drawer-items {
  overflow: auto;
  flex: 1;
}
.cart-items.custom-cart-list{
  display: flex;
    flex-direction: column;
    gap: 16px;
}
.cart-items.custom-cart-list .cart-item{
    display: flex;
}
.cart-items.custom-cart-list .cart-item__media{
  width: 140px;
  height: 140px;
}
.cart-items.custom-cart-list .cart-item__media .cart-item__image {
  aspect-ratio: 1 / 1;
}
.cart-items.custom-cart-list  .cart-item__information{
  flex:1;
  padding: 8.5px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cart-items.custom-cart-list  .cart-item__information .cart-item__name{
  font-size: 16px;
  font-weight: 500;
  line-height: 23.52px;
  color: rgba(21, 21, 21, 1);
  margin-bottom: 8px;
}
.cart-items.custom-cart-list  .cart-item__information dl{
  margin: 0;
}
.cart-items.custom-cart-list  .cart-item__information .product-option dt{
  color: rgba(87, 87, 87, 1);
  font-size: 14px;
  font-weight: 500;
  line-height: 20.58px;
}
.cart-items.custom-cart-list  .cart-item__information .product-option dd{
  color: rgba(21, 21, 21, 1);
  font-size: 14px;
  font-weight: 500;
  line-height: 20.58px;
}
.cart-items.custom-cart-list  .cart-item__information .cart-item__totals .price{
   color: rgba(21, 21, 21, 1);
  font-size: 16px;
  font-weight: 500;
  line-height: 23.52px;
}
.cart-items.custom-cart-list .cart-item__information .cart-item__information--top{
  display: flex;
  justify-content: space-between;
}
.cart-items.custom-cart-list .cart-item__information .cart-item__information--bottom .cart-item__quantity{
  padding: 0;
}
.cart-items.custom-cart-list .cart-item__information .cart-item__information--bottom .cart-item__quantity .cart-item__quantity-wrapper {
  justify-content: space-between;
}
.cart-items.custom-cart-list .cart-item__information .cart-item__information--bottom .cart-item__quantity .cart-item__quantity-wrapper .quantity-popover-container{
  border: 1px solid rgba(21, 21, 21, 0.5);
  max-width: 102px;
  padding: 8px;
}
.cart-items.custom-cart-list .cart-item__information .cart-item__information--bottom .cart-item__quantity .cart-item__quantity-wrapper .quantity-popover-container .quantity__button{
  width: unset;
}
@media screen and (max-height: 650px) {
  cart-drawer-items {
    overflow: visible;
  }

  .drawer__inner {
    overflow: scroll;
  }
}

.cart-drawer .cart-item {
  display: grid;
  grid-template: repeat(2, auto) / repeat(4, 1fr);
  gap: 1.5rem;
  margin-bottom: 0;
}

.cart-drawer .cart-item:last-child {
  margin-bottom: 1rem;
}

.cart-drawer .cart-item__media {
  grid-row: 1 / 3;
}

.cart-drawer .cart-item__image {
  max-width: 100%;
}

.cart-drawer .cart-items thead {
  margin-bottom: 0.5rem;
}

.cart-drawer .cart-items thead th:first-child,
.cart-drawer .cart-items thead th:last-child {
  width: 0;
  padding: 0;
}

.cart-drawer .cart-items thead th:nth-child(2) {
  width: 50%;
  padding-left: 0;
}

.cart-drawer .cart-items thead tr {
  display: table-row;
  margin-bottom: 0;
}

.cart-drawer .cart-items th {
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
}

.cart-drawer .cart-item:last-child {
  margin-bottom: 1.5rem;
}

.cart-drawer .cart-item .loading__spinner {
  right: 5px;
  padding-top: 2.5rem;
}

.cart-drawer .cart-items td {
  padding-top: 2rem;
}

.cart-drawer .cart-item > td + td {
  padding-left: 1rem;
}

.cart-drawer .cart-item__details {
  width: auto;
  grid-column: 2 / 4;
}

.cart-drawer .cart-item__totals {
  pointer-events: none;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.cart-drawer.cart-drawer .cart-item__price-wrapper > *:only-child {
  margin-top: 0;
}

.cart-drawer .cart-item__price-wrapper .cart-item__discounted-prices {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.cart-drawer .unit-price {
  margin-top: 0.6rem;
}

.cart-drawer .cart-items .cart-item__quantity {
  padding-top: 0;
  grid-column: 2 / 5;
}

@media screen and (max-width: 749px) {
  .cart-drawer .cart-item cart-remove-button {
    margin-left: 0;
  }
}

.cart-drawer__footer > * + * {
  margin-top: 1rem;
}

.cart-drawer .totals {
  justify-content: space-between;
}

.cart-drawer .price {
  line-height: 1;
}

.cart-drawer .tax-note {
  margin: 1.2rem 0 1rem auto;
  text-align: left;
}

.cart-drawer .product-option dd {
  word-break: break-word;
}

.cart-drawer details[open] > summary .icon-caret {
  transform: rotate(180deg);
}

.cart-drawer .cart__checkout-button {
  max-width: none;
}

.drawer__footer .cart__dynamic-checkout-buttons {
  max-width: 100%;
}

.drawer__footer #dynamic-checkout-cart ul {
  flex-wrap: wrap !important;
  flex-direction: row !important;
  margin: 0.5rem -0.5rem 0 0 !important;
  gap: 0.5rem;
}

.drawer__footer [data-shopify-buttoncontainer] {
  justify-content: flex-start;
}

.drawer__footer #dynamic-checkout-cart ul > li {
  flex-basis: calc(50% - 0.5rem) !important;
  margin: 0 !important;
}

.drawer__footer #dynamic-checkout-cart ul > li:only-child {
  flex-basis: 100% !important;
  margin-right: 0.5rem !important;
}

@media screen and (min-width: 750px) {
  .drawer__footer #dynamic-checkout-cart ul > li {
    flex-basis: calc(100% / 3 - 0.5rem) !important;
    margin: 0 !important;
  }

  .drawer__footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(2),
  .drawer__footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(2) ~ li,
  .drawer__footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(4),
  .drawer__footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(4) ~ li {
    flex-basis: calc(50% - 0.5rem) !important;
  }
}

cart-drawer-items::-webkit-scrollbar {
  width: 3px;
}

cart-drawer-items::-webkit-scrollbar-thumb {
  background-color: rgba(var(--color-foreground), 0.7);
  border-radius: 100px;
}

cart-drawer-items::-webkit-scrollbar-track-piece {
  margin-top: 31px;
}

.cart-drawer .quantity-popover-container {
  padding: 0;
}

.cart-drawer .quantity-popover__info.global-settings-popup {
  transform: translateY(0);
  right: 0;
}

.cart-drawer .cart-item__error {
  margin-top: 0.8rem;
}

.cart-drawer .quantity-popover__info + .cart-item__error {
  margin-top: 0.2rem;
}

@media screen and (min-width: 750px) {
  .cart-drawer .cart-item__quantity--info quantity-popover > * {
    padding-left: 0;
  }

  .cart-drawer .cart-item__error {
    margin-left: 0;
  }
  .drawer .cart-drawer{
    min-width: 645px;
  }
}
@media screen and (max-width: 500px) {
  
  .drawer__footer {
    padding: 0 12px;
  }
}