.list-menu--right {
  right: 0;
}

.list-menu--disclosure {
  position: absolute;
  min-width: 100%;
  width: 20rem;
  border: 1px solid rgba(var(--color-foreground), 0.2);
}

.list-menu--disclosure:focus {
  outline: none;
}

.list-menu__item--active {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}

.list-menu__item--active:hover {
  text-decoration-thickness: 0.2rem;
}

.list-menu--disclosure.localization-selector {
  max-height: 18rem;
  overflow: auto;
  width: 10rem;
  padding: 0.5rem;
}
/* custom css modal */
.modal-subscribe{
  position: absolute;
  width: 100%;
  left: 0;
  height: 100vh;
  top: 0;
  background: #53505057;
  justify-content: center;
  align-items: center;
  display: flex;
}
.m-ship .modal-subscribe-container{
  max-width: 890px;

}
.modal-subscribe-container{
  max-width: 840px;
  width: 90%;
  text-align: a;
  display: flex;
  background: #fff;
}
.modal-subscribe-left img{
  height: 100%;
}
.modal-subscribe-right h2{
  margin: 13px 0;

}
.modal-subscribe-right{
  padding: 20px;
  text-align: center;
  padding-top: 10%;
  position: relative;
  border: 1.5px solid;
  border-left: 0
}
.modal-subscribe-right .close-modal-subs{
  width: 30px;
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 16px;
  background: transparent;
  border: 0;
  height: 30px;
  border-radius: 50%;
  padding: 0; margin:0
}
 .modal-subscribe-right .sub-title{
  font-size: 30px;
 }
 .modal-subscribe-right  .field::after{
  content:none
 }
 .modal-subscribe-right  input {
  border: 0;
  background: rgba(236, 230, 218, 1);
  /* padding-top: 8px !important; */
 }
 .modal-subscribe-right  .newsletter-form__field-wrapper button {
  right: 0;
 }
 .modal-subscribe-right label {
    left: 20px;
    top: 9px;
 }
 @media screen and (max-width: 600px) {
  .modal-subscribe-left{
   display: none;
  }
   .modal-subscribe-right{
    border-left: 1.5px solid;
  }
}
#NewsletterForm--subs::placeholder{
  opacity: 1;
}
#NewsletterForm--subs:focus{
  padding: 15px;
}