.section-main-product{
    position: relative;
    background: #F8F8EF;
    padding: 80px 50px 60px;
}
.main-product-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product-title{
    width: 100%;
    max-width: 420px;
}
.product-title .sub-title{
    color: #151515;
    text-align: left;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 8px;
}
.product-title .title{
color: #151515;
text-align: left;
font-size: 52px;
font-style: normal;
font-weight: 500;
line-height: normal; 
text-transform: uppercase;
margin-top: 0;
margin-bottom: 0;
}
.main-product-section .product-main{
    max-width: 729px;
}
.product-main .description{
color: #151515;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 22px;
max-width: 400px;
margin: 0 auto 37px;
}
.main-product-section .image-product{
    max-width: 729px;
    max-height: 729px;
}
.main-product-section .product-info{
    width: 100%;
    max-width: 33%;
}

.product-info div.dropdown {
  border-top: 1px solid rgba(21, 21, 21, 0.50);
  height: 56px;
  display: flex;
}
.product-info div.dropdown:nth-child(4){
  border-bottom: 1px solid rgba(21, 21, 21, 0.50);
}
.product-info .dropdown label{
    width:43%;
    border-right: 1px solid rgba(21, 21, 21, 0.50);
    padding: 16px 0;
    color: #151515;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 190px;
}
.product-info .dropdown select{
    flex:1
}

a.view-detail {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  color: #151515;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.custom-select{
    flex: 1;
    max-width: 260px;
    position: relative;
}
.custom-select select {
  appearance: none;
  -webkit-appearance: none;
  padding: 16px 24px;
  background-color: transparent;
  border: 0;
  border-radius:0;
  color: #000;
  cursor: pointer;
  color: #151515;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  height: 100%;
}
.custom-select select:focus-visible {
    outline: none;
    outline-offset:0;
    box-shadow:none
}

.custom-select::after{
    content: '';
    height: 20px;
    width: 20px;
    position: absolute;
    top: 16px;
    right: 12px;
    background: url("chevron-down.svg")
}
.btn-minus,.btn-plus{
    background: transparent;
    width: fit-content;
     border: none;
   cursor: pointer;
   padding: 0;
}
input#quantity{
    max-width: 30px;
    border: 0;
    background: transparent;
    text-align: center;
    color: #151515;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.quantity-action{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    padding: 16px 24px;
}
button#add-to-cart{
    width: 100%;
    height: 56px;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: 0;
    background: #F9CE03;
    margin-top: 24px;
}
button#shop-pay{
     width: 100%;
    height: 56px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: 0;
    background: #5A30F4;
    margin-top: 10px;
}
.bg-first{
    position: absolute;
    bottom: 0;
    left: calc(50% - 400px);
    width: fit-content;
    max-width: 800px;
    z-index: 0;
}
.img-main-first{
    position: relative;
    z-index: 1;
}
@media (min-width:1129px) {
    .img-main-first{
        margin-left: 10%;
    }
}
@media (max-width:768px){
    .main-product-section .product-main {
        position: relative;
    }
    .main-product-section {
        padding-top: 30px;
    }
    .main-product-section .bg-first{
        left: 0;
        width: fit-content;
        max-width: 100%;
    }
    .section-main-product {
        padding:0;
        background: #fff;
    }
    .product-main .description {
        margin-bottom: 0;
        padding: 0 25px;
    }
    .main-product-section .product-title .title{
            font-size: 32px;
            line-height: 41.74px;
    }
    .product-title .sub-title{
            font-size: 18px;
            line-height: 26.46px;
            margin-bottom: 4px;
    }
    .main-product-section .product-info {
        padding: 0 16px;
        max-width: 100%;
    }
    .main-product-section .product-info .dropdown label {
        min-width: 144.82px;
        width: 144.82px;
        font-size: 14px;
        line-height: 20.58px;
    }
}